<h2> Confirmation </h2>
<p>
  <strong> User Name </strong>
  <%=h @quote.user_name %>
</p>
<p>
  <strong> User Email </strong>
  <%=h @quote.user_email %>
</p>
<p>
  <strong> User Phone </strong>
  <%=h @quote.user_phone %>
</p>
<p>
  <strong> User Name </strong>
  <%=h @quote.user_name %>
</p>
<p>
  <strong> Product </strong>
#   <%=h @quote.user_name %>
</p>
<p>
  <strong> Quotation Key </strong>
  <%=h @quote.q_key %>
</p>