<%= form_for @quote do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "#{@quote.current_step}_step", :form => form %>

  <div class="actions">
    <p><%= form.submit "Continue", class: 'btn btn-primary' %></p>
    <p><%= form.submit "Back", class: 'btn btn-warning', name: "back_button" unless @quote.first_step? %></p>
  </div>
<% end %>