
<h2> Products </h2>
<h3> this is where we load all the 3 products </h3>
  <div class="field">
    <%= form.label :subscription %>
    <%= collection_select(:subscription, :id, Subscription.all, :id, :name) %>
  </div>
	
	<div class="field">
    <%= form.label :from %>
    <%= form.date_field :subscription_from_date, id: :quote_from_date %>
	</div>

	<div class="field">
    <%= form.label :to %>
    <%= form.date_field :subscription_to_date, id: :quote_to_date %>
	</div>
	