<h2> User Details </h2>
  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, id: :quote_user_name %>
  </div>

  <div class="field">
    <%= form.label :user_email %>
    <%= form.text_field :user_email, id: :quote_user_email %>
  </div>

  <div class="field">
    <%= form.label :user_password %>
    <%= form.text_field :user_details, id: :quote_user_password %>
  </div>

  <div class="field">
    <%= form.label :user_phone %>
    <%= form.text_field :user_phone, id: :quote_user_phone %>
  </div>